@mixin adminStanjeRacunaDo(){
  .adminStanjeRacuna{

    flex-direction: column;
    width:100%;

  }
}

@mixin adminStanjeRacunaPreko(){
  .adminStanjeRacuna{

    flex-direction: row;
    width:1100px;
  }
}
