  <div class="velikaTabelaIzvestaj">
    <div class="labela" >Датум</div>
    <div class="labela" >Купац</div>
    <div class="labela" >Продавац</div>
    <div class="labela" >Назив</div>
    <div class="labela" >Цена</div>
    <div class="labela" >Количина</div>
    <div class="labela" >Укупна цена</div>
    <template ngFor let-np [ngForOf]="izvestaj">
      <div class="labela"  [textContent]="np.narudzbenica.datum|datum"></div>
      <div class="labela"  [textContent]="np.narudzbenica.kupac.imeNaziv"></div>
      <div class="labela"  [textContent]="np.proizvod.korisnik.imeNaziv"></div>
      <div class="labela"  [textContent]="np.proizvod.naziv"></div>
      <div class="labela"  [textContent]="np.cena|dinar"></div>
      <div class="labela"  [textContent]="np.kolicina"></div>
      <div class="labela"  [textContent]="np.cenaPutaKolicina|dinar"></div>
    </template>
  </div>

  <div class="malaTabelaIzvestaj">
    <template ngFor let-np [ngForOf]="izvestaj">
      <div class="labela" >Датум</div>
      <div class="labela"  [textContent]="np.narudzbenica.datum|datum"></div>

      <div class="labela" >Купац</div>
      <div class="labela"  [textContent]="np.narudzbenica.kupac.imeNaziv"></div>

      <div class="labela" >Продавац</div>
      <div  class="labela" [textContent]="np.proizvod.korisnik.imeNaziv"></div>

      <div class="labela" >Назив</div>
      <div  class="labela" [textContent]="np.proizvod.naziv"></div>

      <div class="labela" >Цена</div>
      <div class="labela"  [textContent]="np.cena|dinar"></div>

      <div class="labela" >Количина</div>
      <div class="labela"  [textContent]="np.kolicina"></div>

      <div class="labela" >Укупна цена</div>
      <div  class="labela" [textContent]="np.cenaPutaKolicina|dinar"></div>
    </template>
  </div>
